/* Reset básico */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background:
    radial-gradient(circle at 30% 30%, rgba(255, 0, 204, 0.2), transparent 60%),
    radial-gradient(circle at 70% 40%, rgba(102, 0, 255, 0.17), transparent 60%),
    radial-gradient(circle at 50% 70%, rgba(0, 255, 255, 0.12), transparent 60%),
    radial-gradient(circle at 80% 80%, rgba(255, 255, 0, 0.12), transparent 60%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 50px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.container > h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  text-align: center;
}

.container > h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #E10600;
  margin: 10px auto 0 auto;
  border-radius: 2px;
}

.gallery {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  padding: 15px;
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  transition: transform 0.3s, opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.item img, .item video {
  width: 100%;
  display: block;
}

.item h3, .item p {
  margin: 10px 0;
  padding: 0 5px;
}

.item button {
  margin: 5px;
}

button {
  background: #E10600;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  margin: 5px 0;
  cursor: pointer;
  width: auto;
  transition: background 0.3s;
}

button:hover {
  background: #b30000;
}

a button {
  margin-top: 20px;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}